@font-face {
    font-family: 'Sustainabite';
    src: url('/static/Nature Impact Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Sustainabite_vogue';
    src: url('/static/Vogue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Sustainabite_foodprint';
    src: url('/static/josephsophia.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Signature';
    src: url('/static/Autography.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

html {
  background-color: #f5f5f5;
}

header {
  border-bottom: 3px dotted;
  border-color: rgb(8, 171, 8);
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

footer {
  border-top: 3px dotted;
  border-color: rgb(8, 171, 8);
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  text-shadow: 1px 1px 3px rgb(113, 235, 139);
}

a {
  text-decoration: none;
  font-style: italic;
  font-family: Arial;
}


#main_title {
    color: rgb(8, 171, 8);
    font-family: 'Sustainabite_vogue';
    font-weight: lighter;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
#second_title {
    color: rgb(8, 171, 8);
    font-family: 'Sustainabite_foodprint';
    font-weight: lighter;
    font-size: 1.8em;
    margin-top: 10px;
    margin-bottom: 50px;
    font-style: italic;
  }

  #main_image {
    height: 100px;
    width: auto;
  }
  
  @media (max-width: 1200px) {
    #main_image {
      height: 70px;
    }
    #main_title {
      color: rgb(8, 171, 8);
      font-family: 'Sustainabite_vogue';
      font-weight: lighter;
      font-size: 2em;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    #second_title {
      color: rgb(8, 171, 8);
      font-family: 'Sustainabite_foodprint';
      font-weight: lighter;
      font-size: 1.2em;
      margin-top: 10px;
      font-style: italic;
    }
    header {
      border-bottom: 3px dotted;
      border-color: rgb(8, 171, 8);
      width: 600px;
      margin: 0 auto; /* centers the div */
    }
  }

.buttons {
    background: linear-gradient(180deg, #3EB489, #62D28F);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 3px 3px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Calibri;
    font-size: 1em;
}

input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.buttons:hover {
  background: linear-gradient(180deg, #74E193, #98FF99);
  transform: translateY(-2px);
}

.buttons:active {
  transform: translateY(0);
}