{% extends "base.html" %}

{% block title %}
  Barcode Scan
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='barcode_scan_style.css') }}">
{% endblock %}

{% block content %}
<main>
    <div id="reader"></div>
    <div id="result"></div>
</main>
{% endblock %}

{% block extra_js %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" 
          integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" 
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    const scanner = new Html5QrcodeScanner('reader', { 
        qrbox: { width: 400, height: 250 },
        fps: 30 //
    });

    function success(scannedBarcode) {
        document.getElementById('result').innerHTML = `
            <h2>Barcode scanned successfully!</h2>
            <p>Redirecting to product page...</p>
        `;

        scanner.clear().then(() => {
            document.getElementById('reader').remove();
            window.location.href = "/product/" + encodeURIComponent(scannedBarcode);
        }).catch(err => {
            console.error("Error clearing scanner:", err);
        });
    }

    function error(errMessage) {
        errMessage = "Try again"
        console.warn("Scan error: " + errMessage);
    }

    // Start the scanner.
    scanner.render(success, error);
  </script>
{% endblock %}
