<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sustainabite</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
    </head>

    <body>
        <h1>🌱 S U S T A I N A B I T E 🌱</h1>

        <h1><img src="static\Sustainabite logo.png" alt="Sustainabite"></h1>

        <h2>🏗️ 🔧 Under Construction 🛠️ 🚧</h2>

        <p>
            <a href="/winteriscoming">Team Phi ©</a>
        </p>

        <div class="bird-container bird-container--one">
            <div class="bird bird--one"></div>
        </div>
        
        <div class="bird-container bird-container--two">
            <div class="bird bird--two"></div>
        </div>
        
        <div class="bird-container bird-container--three">
            <div class="bird bird--three"></div>
        </div>
        
        <div class="bird-container bird-container--four">
            <div class="bird bird--four"></div>
        </div>

    </body>
</html>