<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% extends "base.html" %}
        <title>{% block title %}Sustainabite{% endblock %}</title>
        {% block extra_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='landing_style.css') }}">
        {% endblock %}
    </head>

    <body>

        {% block content %}


        <h2 id="main_1">Welcome to Sustainabite!</h2>  

        <div id="main_text">
            <p id="main_2">Your smart companion for conscious consumption.<br><br>
            At Sustainabite, we make sustainability simple. With our database of over 4,500 Finnish products, you can calculate the environmental footprint of your shopping basket in just a few clicks. Whether you're aiming to reduce carbon emissions, make planet-friendly food choices, or just stay informed — we're here to guide your journey.</p>
            <p id="main_3">Start explorin. Sho smarte. Live sustainabl</p>
        </div>

            <h1 id="main_category">aicategorie</h1>

            <main class="page-content">

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Chocolates</h2>
                        <p class="copy">Discover the environmental impact of those sweet chocolates</p>
                        <button class="btn" href="/chocolate">Explore</button>

                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        
                        <h2 class="title">Category Name</h2>
                        <p class="copy">Text placeholder</p>
                        <button class="btn">Explore</button>
                        
                    </div>
                </div>

            </main>
        {% endblock %}
    </body>
</html>