<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        {% extends "base.html" %}

        <title>{% block title %}Sustainabite{% endblock %}</title>

        {% block extra_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='landing_style.css') }}">
        {% endblock %}
    </head>

    <body>

        {% block content %}


        <h2 id="main_1">Welcome to Sustainabite!</h2>  

        <div id="main_text">
            <p id="main_2">Your smart companion for conscious consumption.<br><br>
            At Sustainabite, we make sustainability simple. With our database of over 4,500 Finnish products, you can calculate the environmental footprint of your shopping basket in just a few clicks. Whether you're aiming to reduce carbon emissions, make planet-friendly food choices, or just stay informed — we're here to guide your journey.</p>
            <p id="main_3">Start explorin. Sho smarte. Live sustainabl</p>
        </div>

            <h1 id="main_category">aicategorie</h1>

            <main class="page-content">

                <div class="card">
                    <a href="/query-alcohol" class="card-link">
                      <div class="content">
                        <h2 class="title">Alcohol</h2>
                      </div>
                    </a>
                  </div>


                  <div class="card">
                    <a href="/query-canned-food" class="card-link">
                        <div class="content">
                            <h2 class="title">Canned food</h2>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="/query-cheese" class="card-link">
                        <div class="content">
                            <h2 class="title">Cheese</h2>                            
                        </div>
                    </a>
                </div>
                
                <div class="card">
                    <a href="/query-chocolate" class="card-link">
                        <div class="content">
                            <h2 class="title">Chocolate</h2>                            
                        </div>
                    </a>
                </div>
                
                <div class="card">
                    <a href="/query-fruit" class="card-link">
                        <div class="content">
                            <h2 class="title">Fruit</h2>                            
                        </div>
                    </a>
                </div>
                
                <div class="card">
                    <a href="/query-ice-cream" class="card-link">
                        <div class="content">
                            <h2 class="title">Ice cream</h2>                            
                        </div>
                    </a>
                </div>
                
                <div class="card">
                    <a href="/query-meat" class="card-link">
                        <div class="content">
                            <h2 class="title">Meat</h2>                            
                        </div>
                    </a>
                </div>
                
                <div class="card">
                    <a href="/query-milk" class="card-link">
                        <div class="content">
                            <h2 class="title">Milk</h2>                            
                        </div>
                    </a>
                </div>  



                
            </main>
        {% endblock %}
    </body>
</html>