<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% extends "base.html" %}

        <title>{% block title %}Product details for "{{ product['Product name'] }}"{% endblock %}</title>

        {% block extra_css %}
            <link rel="stylesheet" href="{{ url_for('static', filename='product_style.css') }}">
        {% endblock %}

    </head>

    <body>

        {% block content %}

            <h1 id="main_product_title">Product details for « {{ product['Product name'] }} »</h1>
            <div class="container">
                <div class="detail-row">
                    <span class="detail-label">Code:</span> {{ product['Barcode'] }}
                </div>

                <div class="detail-row">
                    <span class="detail-label">Brand:</span> {{ product['Brand'] }}
                </div>

                <div class="detail-row">
                    <span class="detail-label">Carbon footprint:</span> {{ product['Carbon footprint 1kg'] }}<span>kg per CO²</span>
                </div>

                <div class="detail-row">
                    <span class="detail-label">Sustainable score:</span> {{ product['Sustainable footprint score'] }}
                </div>

                <button class="add-to-basket" data-barcode="{{ product['Barcode'] }}">
                    Add to Basket
                </button>
        </div>

        {% endblock %}
    </body>
</html>